# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pytest*
env/
build/
develop-eggs/
dist/
*.egg-info/
*.egg

# DotEnv configuration
.env

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude backup from source control by default
backup/*
!backup/.gitkeep
